footer {
  padding: 0;
  text-align: center;

  #social-contact {
    justify-content: center;
  }
}


footer > .container {
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding: 60px 30px;
  background-color: rgba(0,0,0,0.75);
}

@media screen and (min-width: 500px) and (max-width: 859px) {
  footer > .container {
    max-width: inherit;
    width: inherit;
    margin: 0 30px 0 30px;
  }
}

@media screen and (max-width: 499px) {
  footer > .container {
    max-width: inherit;
    width: inherit;
    margin: 0 15px 0 15px;
  }
}


.footer-title {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.footer-text {
  font-size: small;
  margin-top: 1rem;
  // font-weight: $font-weight-bold;
}




// Social media icons
#block-socialcontact {
  display: flex;
  flex-direction: row;
  align-items: center;
  .field--name-body {
    width: 100%;
  }
}

#social-contact {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 20px;
    &:hover,
    &:focus {
      background-color: $green;
      border: 1px solid $green;
    }

  }

  > span i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 18px;
  }

  > span a {
    color: $white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  #social-contact > span i { 
    position: relative;
    top: 1px;
  }
}}


#block-copyright {
  margin: 30px 0 0 0;
  .field--name-body {
    > div {
      margin: 0;
    }
    .footer-text {
      text-transform: uppercase;
      letter-spacing: 1px;

    }
  }
}